html {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 243, 242);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: blue;
}

.accordion>p {
    text-align: start;
    font-size: 45px;
    font-weight: 900;
    color: black;

    margin: 10px;
}

.container {
    max-width: 70%;
    margin: auto;
}

.rotate {
    visibility: hidden;
}

.accordion:hover>.tab>.title,
.accordion:hover>.tab>.title>.rotate {
    visibility: visible;
    color: black;
}

.imgDiv {
    width: 430px;
    height: 350px;
    display: block;
    margin: 20px auto 20px auto;
}

.tab input,
.img {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    height: 0;
    opacity: 0;

}

.tab {
    border-top: solid 2px rgba(204, 207, 209, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
}

.title p,
.rotate {

    margin: 0;
}

.tab :checked~.img {
    visibility: visible;
    height: auto;
    opacity: 1;

}

.tab :checked~.title .rotate {

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tab :hover~.img {
    visibility: visible;
    height: auto;
    opacity: 1;

}

.tab :active~.title>p,
.tab :active~.img {
    color: blue;
    opacity: 0.5;
}

.tab :checked~.title {
    color: black;
}

.tab :hover~.title .rotate {

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 550px) {}