html {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 243, 242);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.accordion>p {
    text-align: start;
    font-size: 45px;
    font-weight: 900;
}

.container {
    max-width: 70%;
    margin: auto;
}

.imgDiv {
    width: 430px;
    height: 350px;
    display: block;
    margin: 20px auto 20px auto;
}

.tab input,
.img {
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    height: 0;
    opacity: 0;

}

.tab {
    border-top: solid 2px rgba(204, 207, 209, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;

}

.title::after {
    content: "+";
}

.tab :checked+.title::after {
    content: "x";
}

.tab :checked~.img {
    visibility: visible;
    height: auto;
    opacity: 1;

}

@media (max-width: 550px) {}